<li class="feed" draggable="true">
  <div {{action "selectFeed"}} class="feed-title">
    <div class="feed-badge">
      <span class="badge badge-primary">{{model.unreadCount}}</span>
    </div>
    <div class="feed-text">
      <div {{action "toggleMenu"}} class="feed-icon">
          <img class="favicon" src="/favicon/38.ico">
      </div>
      <b>{{model.title}}</b>
    </div>
  </div>
  {{#if menuOpen}}
    <div class="btn-group feedMenu">
      <a {{action "markFeedRead"}} class="btn btn-default" title="Marquer comme lu"><i class="fa fa-eye"></i></a>
      <a {{action "markFeedUnread"}} class="btn btn-default" title="Marquer comme non lu"><i class="fa fa-eye-slash"></i></a>
      <a {{action "editFeed"}} class="btn btn-default" title="Modifier"><i class="fa fa-edit"></i></a>
      <a {{action "deleteFeed"}} class="btn btn-default" title="Supprimer"><i class="fa fa-trash-o"></i></a>
    </div>
  {{/if}}
</li>
