<div {{action "selectFeed"}} class="feed-title {{if active "active"}}">
  {{#if model.unreadCount}}
    <div class="feed-badge">
      <span class="badge badge-primary">{{model.unreadCount}}</span>
    </div>
  {{/if}}
  <div class="feed-text">
    <div {{action "openMenu" bubbles=false}} class="feed-icon">
      {{#if validFavicon}}
        <img class="favicon" src="/favicons/{{model.faviconId}}">
      {{else}}
        <i class="fa fa-rss-square"></i>
      {{/if}}
    </div>
    {{#if model.unreadCount}}
      <b>{{model.title}}</b>
    {{else}}
      {{model.title}}
    {{/if}}
  </div>
</div>
{{#if menuOpen}}
  <div class="btn-group feedMenu">
    <a {{action "markFeedRead"}} class="btn btn-default" title="{{t "feed.markRead"}}"><i class="fa fa-eye"></i></a>
    <a {{action "markFeedUnread"}} class="btn btn-default" title="{{t "feed.markUnread"}}"><i class="fa fa-eye-slash"></i></a>
    <a {{action "editFeed"}} class="btn btn-default" title="{{t "feed.edit"}}"><i class="fa fa-edit"></i></a>
    <a {{action "deleteFeed"}} class="btn btn-default" title="{{t "feed.delete"}}"><i class="fa fa-trash-o"></i></a>
  </div>
{{/if}}
