{{title "Exagg (" totalUnreadCount ")"}}

<div class="feed-list">
  <ul class="list-unstyled" id="feed-list">
    <li>
      <div {{action "selectModel" "items"}} class="folder-title {{if itemsSelected "active"}}">
        <div  class="folder-badge">
          <span class="badge badge-primary">{{totalUnreadCount}}</span>
        </div>

        <div  class="folder-text">
          <i class="folder-icon fa fa-asterisk"></i>
          {{t "allItems"}}
        </div>
      </div>
    </li>
    <li>
      <div {{action "selectModel" "favorites"}} class="folder-title {{if favoritesSelected "active"}}">
        <div class="folder-text">
          <i class="folder-icon fa fa-star"></i>
          {{t "favorites"}}
        </div>
      </div>
    </li>
    {{#each model as |folder|}}
      {{#folder-element model=folder onEdit=(action "editModel") onSelect=(action "selectModel") selectedElement=selectedElement}}
        {{#each folder.feeds as |feed|}}
          {{feed-element model=feed onEdit=(action "editModel") onSelect=(action "selectModel") selectedElement=selectedElement}}
        {{/each}}
      {{/folder-element}}
    {{/each}}
  </ul>
</div>
