<div {{action "toggleOpen"}} class="item-container {{if model.open "active"}}">
  <div class="item-labels">
    <span class="item-feed-title label {{if model.read "label-default" "label-primary"}} hidden-small-phone">
      {{model.feed.title}}
    </span>
    <span class="item-date label label-default hidden-phone">
      {{formattedDate}}
    </span>
  </div>
  <div class="item-title">
    <i {{action "toggleFavorite" bubbles=false}} class="favoriteIcon fa fa-star{{unless model.favorite "-o"}}"></i>
    <i {{action "toggleRead" bubbles=false}} class="readUnreadIcon fa fa-circle{{if model.read "-o"}}"></i>
    {{#if model.read}}
      {{model.title}}
    {{else}}
      <b>{{model.title}}</b>
    {{/if}}
  </div>
</div>
{{#if model.open}}
  <div class="well item-content">
    <a class="item-content-title" href="{{model.url}}" target="_blank">{{model.title}}</a>
    <br>
    {{{model.content}}}
  </div>
{{/if}}
