<td>
  {{input type="text" class="form-control" value=model.username}}
</td>
<td>
  {{input type="password" class="form-control" value=model.password}}
</td>
<td>
  {{input type="checkbox" checked=model.admin}}
</td>
<td>
  {{#unless model.isDeleted}}
    <button {{action "deleteUser"}} title={{t "user.delete"}}>
      <i class="fa fa-trash-o"></i>
    </button>
  {{/unless}}
  {{#unless model.isNew}}
    <button {{action "undo"}} title={{t "user.undo"}}>
      <i class="fa fa-undo"></i>
    </button>
  {{/unless}}
</td>
