<h1>{{t "settings"}}</h1>

<div class="form-group">
  <label for="opmlFile">{{t "import_opml"}}</label>
  {{file-upload url="/api/opml_upload" onUpload="onOpmlUpload"}}
</div>

<div class="form-inline">
  <div class="form-group">
    <label for="forceSync">{{t "force_sync"}}</label>
    <input {{action "doSync"}} class="btn btn-primary" value="Sync" type="button" />
  </div>
</div>
